[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/downloads/start/taglist"]
	path = .vim/pack/downloads/start/taglist
	url = https://github.com/yegappan/taglist
[submodule ".vim/pack/git-plugins/start/vim-cpp-modern"]
	path = .vim/pack/git-plugins/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule "vim-better-whitespace"]
	path = .vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/pack/downloads/start/vim-polyglot"]
	path = .vim/pack/downloads/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
