[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/downloads/start/taglist"]
	path = .vim/pack/downloads/start/taglist
	url = https://github.com/yegappan/taglist
[submodule ".vim/pack/git-plugins/start/vim-cpp-modern"]
	path = .vim/pack/git-plugins/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule "vim-better-whitespace"]
	path = .vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/pack/downloads/start/vim-polyglot"]
	path = .vim/pack/downloads/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "nvim-lspconfig"]
	path = .vim/pack/downloads/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "mason"]
	path = .vim/pack/downloads/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "mason-lspconfig"]
	path = .vim/pack/downloads/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "nvim-cmp"]
	path = .vim/pack/downloads/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "cmp-nvim-lsp"]
	path = .vim/pack/downloads/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "LuaSnip"]
	path = .vim/pack/downloads/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "knap"]
	path = .local/share/nvim/site/pack/plugins/start/knap
	url = https://github.com/frabjous/knap.git
